/* Mixin for generic transitions */
@mixin rbr-transition($property) {
    transition: #{$property} 100ms ease-out;
}

/* Mixin for setting placeholder color */
@mixin rbr-placeholder-color($color: $rfs-color-href) {
    /* stylelint-disable */
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder { 
        color: $color;
    }

    &::-moz-placeholder { 
        color: $color;
    }

    &:-ms-input-placeholder { 
       color: $color;
    }
    /* stylelint-enable */
}
